@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(2, 4, 9);
  color: #fff;
}

.menu-mobile {
  @apply fixed top-0 right-0 w-3/4 h-full bg-yellow-primary transition-transform transform;
  transform: translateX(100%);
}

.menu-mobile-open {
  transform: translateX(0);
}

.menu-mobile-content {
  @apply flex flex-col gap-6 text-yellow-primary text-lg p-6;
}
